@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #000000;

        --font: #dadada;
        --font-hover: #ffffff;

        --primary: #1e2128;
        --primary-hover: #272c36;
        --primary-active: #16181d;

        --secondary: #ea580c;
        --secondary-hover: #fb8c24;
        --secondary-active: #d3510c;

        --canvas: #1e2128;

        --span: #a0a0a0;
    }

    .content-padding {
        @apply px-[1rem] sm:px-[2rem] lg:px-[3rem] xl:px-[4rem] 2xl:px-[5rem]
    }
    
}

@layer base {
    * {
        @apply box-border border-transparent;
    }
    body {
        @apply bg-background text-font;
    }
    svg {
        @apply h-fit w-fit fill-inherit stroke-inherit;
    }
    img {
        @apply h-full w-full select-none object-cover;
    }

}
