@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #000000;

        --font: #dadada;
        --font-hover: #ffffff;

        --primary: #1e2128;
        --primary-hover: #272c36;
        --primary-active: #16181d;

        --secondary: #ea580c;
        --secondary-hover: #fb8c24;
        --secondary-active: #d3510c;

        --canvas: #1e2128;

        --span: #a0a0a0;

    }

    .dark {
    }
}

@layer base {
    * {
        @apply box-border border-transparent;
    }
    body {
        @apply bg-background text-font;
    }
    svg {
        @apply h-fit w-fit fill-inherit stroke-inherit;
    }
    img {
        @apply select-none object-contain w-full h-full;
    }

}
